@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Manrope:wght@200..800&display=swap');
:root{
    --blue-0: #f7faff;
    --blue-100: #e2f3fd;
    --blue-200: #cbe5fe;
    --blue-300: #89b4fa;
    --blue-400: #629bfb;
    --blue-500: #3b82f6;
    --blue-600: #295ee0;
    --blue-700: #1d4cbe;
    --blue-800: #182f73;
    --blue-900: #0c1a31;
    --brown-0: #faf8f7;
    --brown-100: #ded5cf;
    --brown-200: #bdac9f;
    --brown-300: #9d826e;
    --brown-400: #7c593e;
    --brown-500: #5b2f0e;
    --brown-600: #49260b;
    --brown-700: #371c08;
    --brown-800: #241306;
    --brown-900: #120903;
    --gray-0: #ffffff;
    --gray-10: #faf7f5;
    --gray-20: #f6f3f1;
    --gray-30: #ece9e7;
    --gray-40: #e0dcd9;
    --gray-50: #c4c0bc;
    --gray-60: #b6b2af;
    --gray-70: #aaa6a3;
    --gray-80: #9c9896;
    --gray-90: #8e8985;
    --gray-100: #807c78;
    --gray-200: #716d6a;
    --gray-300: #63605d;
    --gray-400: #575452;
    --gray-500: #494745;
    --gray-600: #3d3b39;
    --gray-700: #2d2b2a;
    --gray-800: #1f1e1d;
    --gray-900: #131111;
    --green-0: #f9fcf9;
    --green-100: #e1f2df;
    --green-200: #c3e6bf;
    --green-300: #a5d99e;
    --green-400: #87cd7e;
    --green-500: #69c05e;
    --green-600: #549a4b;
    --green-700: #3f7338;
    --green-800: #2a4d26;
    --green-900: #152613;
    --orange-0: #fffaf5;
    --orange-100: #fee8cc;
    --orange-200: #ffd889;
    --orange-300: #fec667;
    --orange-400: #ffb02f;
    --orange-500: #fa8a00;
    --orange-600: #d76101;
    --orange-700: #b04a00;
    --orange-800: #7b3400;
    --orange-900: #5a2400;
    --pink-100: #fce7fb;
    --pink-200: #f9d0f7;
    --pink-300: #f5b8f3;
    --pink-400: #f2a1ef;
    --pink-500: #ef89eb;
    --pink-600: #bf6ebc;
    --pink-700: #8f528d;
    --pink-800: #60375e;
    --pink-900: #301b2f;
    --purple-100: #eeddfd;
    --purple-200: #dcbbfc;
    --purple-300: #cb99fa;
    --purple-400: #b977f9;
    --purple-500: #a855f7;
    --purple-600: #8644c6;
    --purple-700: #653394;
    --purple-800: #432263;
    --purple-900: #221131;
    --red-0: #fcdada;
    --red-100: #fcdada;
    --red-200: #f9b4b4;
    --red-300: #f58f8f;
    --red-400: #f26969;
    --red-500: #ef4444;
    --red-600: #bf3636;
    --red-700: #8f2929;
    --red-800: #601b1b;
    --red-900: #300e0e;
    --tangelo-100: #fbe3d5;
    --tangelo-200: #f8c7ac;
    --tangelo-300: #f4a882;
    --tangelo-400: #f18f59;
    --tangelo-500: #ed732f;
    --tangelo-600: #be5c26;
    --tangelo-700: #8e451c;
    --tangelo-800: #5f2e13;
    --tangelo-900: #2f1709;
    --yellow-100: #fff5cc;
    --yellow-200: #ffec99;
    --yellow-300: #ffe266;
    --yellow-400: #ffde31;
    --yellow-500: #ffcf00;
    --yellow-600: #e7a200;
    --yellow-700: #9c6200;
    --yellow-800: #703e01;
    --yellow-900: #542a00;
    --white-100: #ffffff;
    --white-50: rgba(255, 255, 255, 0.5);
    --white-20: rgba(255, 255, 255, 0.2);
    --white-10: rgba(255, 255, 255, 0.1);
    --white-5: rgba(255, 255, 255, 0.05);
    --black-100: #000000;
    --black-50: rgba(0, 0, 0, 0.5);
    --black-20: rgba(0, 0, 0, 0.2);
    --black-10: rgba(0, 0, 0, 0.1);
    --black-5: rgba(0, 0, 0, 0.05);
    --width-px: 1px;
    --width-2xs: 2px;
    --scaling-xlarge: 1.1;
    --scaling-large: 1.05;
    --scaling-medium: 1;
    --scaling-small: 0.95;
    --scaling-xsmall: 0.9;
    --scaling: var(--scaling-medium);
    --background-primary: var(--white-100);
    --background-hover: var(--gray-20);
    --background-pressed: var(--gray-30);
    --background-selected: var(--blue-100);
    --background-disabled: var(--gray-20);
    --background-inverse: var(--gray-800);
    --background-brand: var(--brown-500);
    --background-brand-hover: var(--brown-600);
    --background-brand-pressed: var(--brown-700);
    --background-brand-disabled: var(--gray-20);
    --background-secondary: var(--gray-10);
    --background-secondary-hover: var(--gray-20);
    --background-secondary-pressed: var(--gray-30);
    --background-info: var(--blue-500);
    --background-info-subtle: var(--blue-0);
    --background-positive: var(--green-500);
    --background-positive-subtle: var(--green-0);
    --background-negative: var(--red-500);
    --background-negative-hover: var(--red-600);
    --background-negative-pressed: var(--red-700);
    --background-negative-subtle: var(--red-0);
    --background-notice: var(--orange-500);
    --background-notice-subtle: var(--orange-0);
    --background-hover: var(--gray-20);
    --border-primary: var(--gray-100);
    --border-secondary: var(--gray-60);
    --border-tertiary: var(--gray-30);
    --border-disabled: var(--gray-40);
    --border-focus: var(--blue-500);
    --border-brand: var(--brown-600);
    --border-inverse: var(--gray-0);
    --border-info: var(--blue-500);
    --border-notice: var(--orange-500);
    --border-negative: var(--red-500);
    --border-positive: var(--green-500);
    --border-highlight: var(--purple-500);
    --overlay-primary: var(--gray-900);
    --content-primary: var(--gray-900);
    --content-secondary: var(--gray-600);
    --content-tertiary: var(--gray-200);
    --content-primary-inverse: var(--gray-0);
    --content-secondary-inverse: var(--gray-10);
    --content-tertiary-inverse: var(--gray-50);
    --content-brand: var(--brown-500);
    --content-link: var(--blue-500);
    --content-link-hover: var(--blue-600);
    --content-link-pressed: var(--blue-700);
    --content-notice: var(--orange-500);
    --content-notice-bold: var(--orange-700);
    --content-negative: var(--red-500);
    --content-negative-bold: var(--red-700);
    --content-positive: var(--green-500);
    --content-positive-bold: var(--green-700);
    --content-highlight: var(--purple-500);
    --content-highlight-bold: var(--purple-700);
    --content-disabled: var(--gray-60);
    --content-info: var(--blue-500);
    --content-info-bold: var(--blue-600);
    --spacing-2xs: 2px;
    --spacing-xs: 4px;
    --spacing-sm: 6px;
    --spacing-md: 8px;
    --spacing-lg: 12px;
    --spacing-xl: 16px;
    --spacing-2xl: 20px;
    --spacing-3xl: 24px;
    --spacing-4xl: 32px;
    --spacing-5xl: 40px;
    --spacing-6xl: 56px;
    --spacing-7xl: 64px;
    --spacing-8xl: 72px;
    --spacing-9xl: 80px;
    --spacing-10xl: 88px;
    --spacing-11xl: 96px;
    --spacing-12xl: 104px;
    --spacing-13xl: 112px;
    --spacing-14xl: 120px;
    --spacing-15xl: 128px;
    --font-display-xl: calc(64px * var(--scaling));
    --font-display-lg: calc(56px * var(--scaling));
    --font-display-md: calc(48px * var(--scaling));
    --font-display-sm: calc(40px * var(--scaling));
    --font-display-xs: calc(32px * var(--scaling));
    --font-body-2xl: calc(24px * var(--scaling));
    --font-body-xl: calc(20px * var(--scaling));
    --font-body-lg: calc(16px * var(--scaling));
    --font-body-md: calc(14px * var(--scaling));
    --font-body-sm: calc(12px * var(--scaling));
    --font-body-xs: calc(10px * var(--scaling));
    --default-font-family: "Manrope", -apple-system, BlinkMacSystemFont, "Segoe UI (Custom)", Roboto, "Helvetica Neue", "Open Sans (Custom)", system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    --default-font-family-display: "Roca Two", -apple-system, BlinkMacSystemFont, "Segoe UI (Custom)", Roboto, "Helvetica Neue", "Open Sans (Custom)", system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    --default-font-family-body: var(--default-font-family);
    --default-font-family-heading: var(--default-font-family);
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --line-height-9xl: 80px;
    --line-height-8xl: 72px;
    --line-height-7xl: 64px;
    --line-height-6xl: 56px;
    --line-height-5xl: 48px;
    --line-height-4xl: 44px;
    --line-height-3xl: 40px;
    --line-height-2xl: 32px;
    --line-height-xl: 28px;
    --line-height-lg: 24px;
    --line-height-md: 20px;
    --line-height-sm: 16px;
    --line-height-xs: 14px;
    --letter-spacing-none: 0px;
    --letter-spacing-small: -0.2px;
    --letter-spacing-xsmall: -0.5px;
    --radius-xs: 2px;
    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-lg: 12px;
    --radius-xl: 16px;
    --radius-2xl: 20px;
    --radius-3xl: 24px;
    --radius-4xl: 32px;
    --radius-full: 9999px;
}
.kb-button:where([data-kb-disabled]){
    pointer-events: none;
}
.kb-button svg{
    width: var(--button-icon-default-width);
    height: var(--button-icon-default-height);
    flex-shrink: 0;
}
.kb-button:where(:focus){
    outline: none;
}
.kb-button:where(:focus-visible){
    outline: var(--width-2xs) solid var(--border-focus);
    position: relative;
}
.kb-button{
    font-weight: var(--font-weight-regular);
    font-size: var(--font-body-md);
    line-height: var(--line-height-md);
    letter-spacing: var(--letter-spacing-none);
    font-family: var(--default-font-family-body);
    --button-icon-default-width: 14px;
    --button-icon-default-height: 14px;
    --button-padding: var(--spacing-md) var(--spacing-lg);
    border-radius: var(--radius-md);
    border-top: var(--width-px) solid var(--button-border-color);
    border-left: var(--width-px) solid var(--button-border-color);
    border-right: var(--width-px) solid var(--button-border-color);
    border-bottom: var(--width-2xs) solid var(--button-border-color);
    background: var(--button-background-color);
    box-shadow: var(--button-shadow);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-xs);
    padding: var(--button-padding);
    cursor: pointer;
    color: var(--button-content-color);
    font-family: var(--default-font-family);
    transition: outline 150ms ease-in-out, background-color 150ms ease-in-out;
    width: -moz-fit-content;
    width: fit-content;
}
.kb-button:where(.kb-variant-primary){
    --button-border-color: var(--border-brand);
    --button-background-color: var(--background-brand);
    --button-content-color: var(--content-primary-inverse);
    --button-shadow: 0px 2px 0px 0px var(--white-5) inset, 0px 1px 0px 0px var(--black-10);
}
@media (hover: hover) {
    .kb-button:where(.kb-variant-primary):where(:hover):where(:not([data-kb-disabled])){
        --button-background-color: var(--background-brand-hover);
    }
}
.kb-button:where(.kb-variant-primary):where(:active){
    --button-background-color: var(--background-brand-pressed);
}
.kb-button:where(.kb-variant-primary):where([data-kb-disabled]){
    --button-border-color: var(--border-disabled);
    --button-content-color: var(--content-tertiary-inverse);
    --button-background-color: var(--background-brand-disabled);
}
.kb-button:where(.kb-variant-secondary){
    --button-border-color: var(--border-tertiary);
    --button-background-color: var(--background-primary);
    --button-content-color: var(--content-secondary);
    --button-shadow: 0px 2px 0px 0px var(--white-5) inset, 0px 1px 0px 0px var(--black-10);
    --button-background-active-color: transparent;
}
@media (hover: hover) {
    .kb-button:where(.kb-variant-secondary):where(:hover):where(:not([data-kb-disabled])){
        --button-background-color: var(--background-secondary-hover);
    }
}
.kb-button:where(.kb-variant-secondary):where(:active){
    --button-background-color: var(--background-secondary-pressed);
}
.kb-button:where(.kb-variant-secondary):where([data-kb-disabled]){
    --button-border-color: var(--border-tertiary);
    --button-content-color: var(--content-disabled);
    --button-background-color: var(--background-primary);
}
.kb-button:where(.kb-variant-destructive){
    --button-border-color: var(--black-20);
    --button-background-color: var(--background-negative);
    --button-content-color: var(--content-primary-inverse);
    --button-shadow: 0px 2px 0px 0px var(--white-5) inset, 0px 1px 0px 0px var(--black-10);
    --button-background-active-color: transparent;
}
@media (hover: hover) {
    .kb-button:where(.kb-variant-destructive):where(:hover):where(:not([data-kb-disabled])){
        --button-background-color: var(--background-negative-hover);
    }
}
.kb-button:where(.kb-variant-destructive):where(:active){
    --button-background-color: var(--background-negative-pressed);
}
.kb-button:where(.kb-variant-destructive):where([data-kb-disabled]){
    --button-border-color: var(--black-5);
    --button-content-color: var(--content-primary-inverse);
    --button-background-color: var(--background-negative-subtle);
}
.kb-button:where(.kb-variant-tertiary){
    --button-border-color: transparent;
    --button-background-color: transparent;
    --button-content-color: var(--content-secondary);
    --button-shadow: none;
    --button-background-active-color: transparent;
}
@media (hover: hover) {
    .kb-button:where(.kb-variant-tertiary):where(:hover):where(:not([data-kb-disabled])){
        --button-background-color: var(--background-hover);
    }
}
.kb-button:where(.kb-variant-tertiary):where(:active){
    --button-background-color: var(--background-pressed);
}
.kb-button:where(.kb-variant-tertiary):where([data-kb-disabled]){
    --button-border-color: transparent;
    --button-content-color: var(--content-disabled);
    --button-background-color: transparent;
}
.kb-button:where(.kb-r-size-xs){
    --button-padding: var(--spacing-sm) var(--spacing-sm);
}
.kb-button:where(.kb-r-size-sm){
    --button-padding: var(--spacing-sm) var(--spacing-sm);
}
.kb-button:where(.kb-r-size-md){
    --button-padding: var(--spacing-md) var(--spacing-md);
}
.kb-button:where(.kb-r-size-lg){
    --button-padding: var(--spacing-md) var(--spacing-lg);
}
@media (min-width: 640px){
    .kb-button:where(.sm\:kb-r-size-xs){
        --button-padding: var(--spacing-sm) var(--spacing-sm);
    }
    .kb-button:where(.sm\:kb-r-size-sm){
        --button-padding: var(--spacing-sm) var(--spacing-sm);
    }
    .kb-button:where(.sm\:kb-r-size-md){
        --button-padding: var(--spacing-md) var(--spacing-md);
    }
    .kb-button:where(.sm\:kb-r-size-lg){
        --button-padding: var(--spacing-md) var(--spacing-lg);
    }
}
@media (min-width: 768px){
    .kb-button:where(.md\:kb-r-size-xs){
        --button-padding: var(--spacing-sm) var(--spacing-sm);
    }
    .kb-button:where(.md\:kb-r-size-sm){
        --button-padding: var(--spacing-sm) var(--spacing-sm);
    }
    .kb-button:where(.md\:kb-r-size-md){
        --button-padding: var(--spacing-md) var(--spacing-md);
    }
    .kb-button:where(.md\:kb-r-size-lg){
        --button-padding: var(--spacing-md) var(--spacing-lg);
    }
}
@media (min-width: 1024px){
    .kb-button:where(.lg\:kb-r-size-xs){
        --button-padding: var(--spacing-sm) var(--spacing-sm);
    }
    .kb-button:where(.lg\:kb-r-size-sm){
        --button-padding: var(--spacing-sm) var(--spacing-sm);
    }
    .kb-button:where(.lg\:kb-r-size-md){
        --button-padding: var(--spacing-md) var(--spacing-md);
    }
    .kb-button:where(.lg\:kb-r-size-lg){
        --button-padding: var(--spacing-md) var(--spacing-lg);
    }
}
@media (min-width: 1280px){
    .kb-button:where(.xl\:kb-r-size-xs){
        --button-padding: var(--spacing-sm) var(--spacing-sm);
    }
    .kb-button:where(.xl\:kb-r-size-sm){
        --button-padding: var(--spacing-sm) var(--spacing-sm);
    }
    .kb-button:where(.xl\:kb-r-size-md){
        --button-padding: var(--spacing-md) var(--spacing-md);
    }
    .kb-button:where(.xl\:kb-r-size-lg){
        --button-padding: var(--spacing-md) var(--spacing-lg);
    }
}
@media (min-width: 1536px){
    .kb-button:where(.\32xl\:kb-r-size-xs){
        --button-padding: var(--spacing-sm) var(--spacing-sm);
    }
    .kb-button:where(.\32xl\:kb-r-size-sm){
        --button-padding: var(--spacing-sm) var(--spacing-sm);
    }
    .kb-button:where(.\32xl\:kb-r-size-md){
        --button-padding: var(--spacing-md) var(--spacing-md);
    }
    .kb-button:where(.\32xl\:kb-r-size-lg){
        --button-padding: var(--spacing-md) var(--spacing-lg);
    }
}
.kb-button:where(.kb-r-width-fit){
    width: -moz-fit-content;
    width: fit-content;
}
.kb-button:where(.kb-r-width-full){
    width: 100%;
}
@media (min-width: 640px){
    .kb-button:where(.sm\:kb-r-width-fit){
        width: -moz-fit-content;
        width: fit-content;
    }
    .kb-button:where(.sm\:kb-r-width-full){
        width: 100%;
    }
}
@media (min-width: 768px){
    .kb-button:where(.md\:kb-r-width-fit){
        width: -moz-fit-content;
        width: fit-content;
    }
    .kb-button:where(.md\:kb-r-width-full){
        width: 100%;
    }
}
@media (min-width: 1024px){
    .kb-button:where(.lg\:kb-r-width-fit){
        width: -moz-fit-content;
        width: fit-content;
    }
    .kb-button:where(.lg\:kb-r-width-full){
        width: 100%;
    }
}
@media (min-width: 1280px){
    .kb-button:where(.xl\:kb-r-width-fit){
        width: -moz-fit-content;
        width: fit-content;
    }
    .kb-button:where(.xl\:kb-r-width-full){
        width: 100%;
    }
}
@media (min-width: 1536px){
    .kb-button:where(.\32xl\:kb-r-width-fit){
        width: -moz-fit-content;
        width: fit-content;
    }
    .kb-button:where(.\32xl\:kb-r-width-full){
        width: 100%;
    }
}
@media (prefers-reduced-motion: reduce) {
    .kb-button{
        transition: none;
    }
}
.kb-badge{
    --badge-icon-default-width: 14px;
    --badge-icon-default-height: 14px;
    display: inline-flex;
    align-items: center;
    flex-shrink: 0;
    height: -moz-fit-content;
    height: fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-style: normal;
    border-radius: var(--radius-md);
    font-weight: var(--font-weight-medium);
    border-style: solid;
    border-width: 1px;
    gap: var(--spacing-xs);
    font-family: var(--default-font-family);
}
.kb-badge svg{
    width: var(--badge-icon-default-width);
    height: var(--badge-icon-default-height);
    flex-shrink: 0;
}
.kb-badge:where(.kb-variant-info){
    background: var(--background-info-subtle);
    border-color: var(--border-info);
    color: var(--content-info);
}
.kb-badge:where(.kb-variant-success){
    background: var(--background-positive-subtle);
    border-color: var(--border-positive);
    color: var(--content-positive);
}
.kb-badge:where(.kb-variant-error){
    background: var(--background-negative-subtle);
    border-color: var(--border-negative);
    color: var(--content-negative);
}
.kb-badge:where(.kb-variant-warning){
    background: var(--background-notice-subtle);
    border-color: var(--border-notice);
    color: var(--content-notice);
}
.kb-badge:where(.kb-variant-neutral){
    background: var(--background-hover);
    border-color: var(--border-secondary);
    color: var(--content-tertiary);
}
.kb-badge:where(.kb-r-size-sm){
    height: var(--spacing-3xl);
    padding: 0 var(--spacing-xs);
    font-size: var(--font-body-small);
}
.kb-badge:where(.kb-r-size-md){
    padding: var(--spacing-sm);
    font-size: var(--font-body-medium);
    border-radius: var(--radius-md);
}
@media (min-width: 640px){
    .kb-badge:where(.sm\:kb-r-size-sm){
        height: var(--spacing-3xl);
        padding: 0 var(--spacing-xs);
        font-size: var(--font-body-small);
    }
    .kb-badge:where(.sm\:kb-r-size-md){
        padding: var(--spacing-sm);
        font-size: var(--font-body-medium);
        border-radius: var(--radius-md);
    }
}
@media (min-width: 768px){
    .kb-badge:where(.md\:kb-r-size-sm){
        height: var(--spacing-3xl);
        padding: 0 var(--spacing-xs);
        font-size: var(--font-body-small);
    }
    .kb-badge:where(.md\:kb-r-size-md){
        padding: var(--spacing-sm);
        font-size: var(--font-body-medium);
        border-radius: var(--radius-md);
    }
}
@media (min-width: 1024px){
    .kb-badge:where(.lg\:kb-r-size-sm){
        height: var(--spacing-3xl);
        padding: 0 var(--spacing-xs);
        font-size: var(--font-body-small);
    }
    .kb-badge:where(.lg\:kb-r-size-md){
        padding: var(--spacing-sm);
        font-size: var(--font-body-medium);
        border-radius: var(--radius-md);
    }
}
@media (min-width: 1280px){
    .kb-badge:where(.xl\:kb-r-size-sm){
        height: var(--spacing-3xl);
        padding: 0 var(--spacing-xs);
        font-size: var(--font-body-small);
    }
    .kb-badge:where(.xl\:kb-r-size-md){
        padding: var(--spacing-sm);
        font-size: var(--font-body-medium);
        border-radius: var(--radius-md);
    }
}
@media (min-width: 1536px){
    .kb-badge:where(.\32xl\:kb-r-size-sm){
        height: var(--spacing-3xl);
        padding: 0 var(--spacing-xs);
        font-size: var(--font-body-small);
    }
    .kb-badge:where(.\32xl\:kb-r-size-md){
        padding: var(--spacing-sm);
        font-size: var(--font-body-medium);
        border-radius: var(--radius-md);
    }
}
.kb-tabs-root:where(.kb-r-width-fit){
    width: -moz-fit-content;
    width: fit-content;
}
.kb-tabs-root:where(.kb-r-width-fit) .kb-tabs-list{
    width: -moz-fit-content;
    width: fit-content;
}
.kb-tabs-root:where(.kb-r-width-full){
    width: 100%;
}
@media (min-width: 640px){
    .kb-tabs-root:where(.sm\:kb-r-width-fit){
        width: -moz-fit-content;
        width: fit-content;
    }
    .kb-tabs-root:where(.sm\:kb-r-width-fit) .kb-tabs-list{
        width: -moz-fit-content;
        width: fit-content;
    }
    .kb-tabs-root:where(.sm\:kb-r-width-full){
        width: 100%;
    }
}
@media (min-width: 768px){
    .kb-tabs-root:where(.md\:kb-r-width-fit){
        width: -moz-fit-content;
        width: fit-content;
    }
    .kb-tabs-root:where(.md\:kb-r-width-fit) .kb-tabs-list{
        width: -moz-fit-content;
        width: fit-content;
    }
    .kb-tabs-root:where(.md\:kb-r-width-full){
        width: 100%;
    }
}
@media (min-width: 1024px){
    .kb-tabs-root:where(.lg\:kb-r-width-fit){
        width: -moz-fit-content;
        width: fit-content;
    }
    .kb-tabs-root:where(.lg\:kb-r-width-fit) .kb-tabs-list{
        width: -moz-fit-content;
        width: fit-content;
    }
    .kb-tabs-root:where(.lg\:kb-r-width-full){
        width: 100%;
    }
}
@media (min-width: 1280px){
    .kb-tabs-root:where(.xl\:kb-r-width-fit){
        width: -moz-fit-content;
        width: fit-content;
    }
    .kb-tabs-root:where(.xl\:kb-r-width-fit) .kb-tabs-list{
        width: -moz-fit-content;
        width: fit-content;
    }
    .kb-tabs-root:where(.xl\:kb-r-width-full){
        width: 100%;
    }
}
@media (min-width: 1536px){
    .kb-tabs-root:where(.\32xl\:kb-r-width-fit){
        width: -moz-fit-content;
        width: fit-content;
    }
    .kb-tabs-root:where(.\32xl\:kb-r-width-fit) .kb-tabs-list{
        width: -moz-fit-content;
        width: fit-content;
    }
    .kb-tabs-root:where(.\32xl\:kb-r-width-full){
        width: 100%;
    }
}
.kb-tabs-list{
    --tabs-list-height: 36px;
    border-radius: var(--radius-md);
    border: var(--width-px) solid var(--border-tertiary);
    background: var(--background-hover);
    box-shadow: 0px 2px 0px 0px var(--black-10) inset, 0px -2px 0px 0px var(--white-100) inset;
    height: var(--tabs-list-height);
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    flex: 1 0 0;
    font-family: var(--default-font-family);
}
.kb-tabs-trigger svg{
    width: var(--tab-trigger-icon-default-width);
    height: var(--tab-trigger-icon-default-height);
    flex-shrink: 0;
}
.kb-tabs-trigger:where([data-state="active"]){
    color: var(--content-secondary);
}
.kb-tabs-trigger:where([data-state="inactive"]){
    color: var(--content-tertiary-inverse);
}
.kb-tabs-trigger{
    font-weight: var(--font-weight-regular);
    font-size: var(--font-body-md);
    line-height: var(--line-height-md);
    letter-spacing: var(--letter-spacing-none);
    font-family: var(--default-font-family-body);
    --tab-trigger-icon-default-width: 14px;
    --tab-trigger-icon-default-height: 14px;
    transition: color 250ms ease-in-out;
    z-index: 2;
    display: flex;
    padding: var(--spacing-sm) var(--spacing-md);
    justify-content: center;
    align-items: center;
    gap: var(--spacing-md);
    flex: 1 0 0;
    align-self: stretch;
    font-family: var(--default-font-family);
    border-width: 0px;
    background: transparent;
}
.kb-tabs-indicator{
    transition: transform 250ms ease-in-out;
    width: calc(var(--tabs-indicator-active-position-size) * 1px);
    height: 100%;
    border-radius: var(--radius-md);
    border-top: var(--width-px) solid var(--border-tertiary);
    border-right: var(--width-px) solid var(--border-tertiary);
    border-bottom: var(--width-2xs) solid var(--border-tertiary);
    border-left: var(--width-px) solid var(--border-tertiary);
    background: var(--background-primary);
    box-shadow: 0px 2px 0px 0px var(--Color-White-5, rgba(255, 255, 255, 0.05)) inset, 0px 1px 0px 0px var(--Color-Black-10, rgba(0, 0, 0, 0.1));
}
.kb-checkbox-root{
    --checkbox-icon-default-width: 14px;
    --checkbox-icon-default-height: 14px;
    display: flex;
    padding: var(--spacing-xs);
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: var(--width-px) solid var(--border-secondary);
    background: var(--background-secondary);
    border-bottom-width: 2px;
    box-shadow: 0px 3px 0px 0px var(--black-5) inset;
    transition: background 250ms ease-in-out;
}
.kb-checkbox-root svg{
    width: var(--checkbox-icon-default-width);
    height: var(--checkbox-icon-default-height);
    flex-shrink: 0;
}
.kb-checkbox-root:where(.kb-variant-default){
    border-radius: var(--radius-sm);
}
.kb-checkbox-root:where(.kb-variant-circle){
    border-radius: var(--radius-full);
}
.kb-checkbox-root:where(.kb-r-size-sm){
    width: var(--spacing-xl);
    height: var(--spacing-xl);
}
.kb-checkbox-root:where(.kb-r-size-md){
    width: var(--spacing-2xl);
    height: var(--spacing-2xl);
}
@media (min-width: 640px){
    .kb-checkbox-root:where(.sm\:kb-r-size-sm){
        width: var(--spacing-xl);
        height: var(--spacing-xl);
    }
    .kb-checkbox-root:where(.sm\:kb-r-size-md){
        width: var(--spacing-2xl);
        height: var(--spacing-2xl);
    }
}
@media (min-width: 768px){
    .kb-checkbox-root:where(.md\:kb-r-size-sm){
        width: var(--spacing-xl);
        height: var(--spacing-xl);
    }
    .kb-checkbox-root:where(.md\:kb-r-size-md){
        width: var(--spacing-2xl);
        height: var(--spacing-2xl);
    }
}
@media (min-width: 1024px){
    .kb-checkbox-root:where(.lg\:kb-r-size-sm){
        width: var(--spacing-xl);
        height: var(--spacing-xl);
    }
    .kb-checkbox-root:where(.lg\:kb-r-size-md){
        width: var(--spacing-2xl);
        height: var(--spacing-2xl);
    }
}
@media (min-width: 1280px){
    .kb-checkbox-root:where(.xl\:kb-r-size-sm){
        width: var(--spacing-xl);
        height: var(--spacing-xl);
    }
    .kb-checkbox-root:where(.xl\:kb-r-size-md){
        width: var(--spacing-2xl);
        height: var(--spacing-2xl);
    }
}
@media (min-width: 1536px){
    .kb-checkbox-root:where(.\32xl\:kb-r-size-sm){
        width: var(--spacing-xl);
        height: var(--spacing-xl);
    }
    .kb-checkbox-root:where(.\32xl\:kb-r-size-md){
        width: var(--spacing-2xl);
        height: var(--spacing-2xl);
    }
}
@media (hover: hover) {
    .kb-checkbox-root:where(:hover){
        border: var(--width-px) solid var(--border-secondary);
        background: var(--background-hover);
        border-bottom-width: 2px;
        box-shadow: 0px 3px 0px 0px var(--black-5) inset;
    }
}
.kb-checkbox-root:where([data-disabled]){
    opacity: 0.5;
}
.kb-checkbox-root:where([data-state="checked"],[data-state="indeterminate"]){
    border-top: var(--width-px) solid var(--black-10);
    border-right: var(--width-px) solid var(--black-10);
    border-bottom: var(--width-2xs) solid var(--black-10);
    border-left: var(--width-px) solid var(--black-10);
    background: var(--background-info);
    box-shadow: 0px 2px 0px 0px var(--white-5) inset, 0px 1px 0px 0px var(--black-10);
}
.kb-checkbox-root:where([data-state="checked"],[data-state="indeterminate"]) .kb-checkbox-indicator{
    color: var(--white-100);
}
.kb-radio-group{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2xl);
}
.kb-radio-group-item{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-full);
    border: var(--width-px) solid var(--border-secondary);
    background: var(--background-secondary);
    box-shadow: 0px -3px 0px 0px var(--white-5) inset, 0px 3px 0px 0px var(--black-5) inset;
}
.kb-radio-group-item .kb-radio-group-indicator{
    flex-shrink: 0;
}
.kb-radio-group:where(.kb-r-size-sm) .kb-radio-group-item{
    width: var(--spacing-xl);
    height: var(--spacing-xl);
}
:is(.kb-radio-group:where(.kb-r-size-sm) .kb-radio-group-item) .kb-radio-group-indicator{
    width: var(--spacing-sm);
    height: var(--spacing-sm);
}
.kb-radio-group:where(.kb-r-size-md) .kb-radio-group-item{
    width: var(--spacing-2xl);
    height: var(--spacing-2xl);
}
@media (min-width: 640px){
    .kb-radio-group:where(.sm\:kb-r-size-sm) .kb-radio-group-item{
        width: var(--spacing-xl);
        height: var(--spacing-xl);
    }
    :is(.kb-radio-group:where(.sm\:kb-r-size-sm) .kb-radio-group-item) .kb-radio-group-indicator{
        width: var(--spacing-sm);
        height: var(--spacing-sm);
    }
    .kb-radio-group:where(.sm\:kb-r-size-md) .kb-radio-group-item{
        width: var(--spacing-2xl);
        height: var(--spacing-2xl);
    }
}
@media (min-width: 768px){
    .kb-radio-group:where(.md\:kb-r-size-sm) .kb-radio-group-item{
        width: var(--spacing-xl);
        height: var(--spacing-xl);
    }
    :is(.kb-radio-group:where(.md\:kb-r-size-sm) .kb-radio-group-item) .kb-radio-group-indicator{
        width: var(--spacing-sm);
        height: var(--spacing-sm);
    }
    .kb-radio-group:where(.md\:kb-r-size-md) .kb-radio-group-item{
        width: var(--spacing-2xl);
        height: var(--spacing-2xl);
    }
}
@media (min-width: 1024px){
    .kb-radio-group:where(.lg\:kb-r-size-sm) .kb-radio-group-item{
        width: var(--spacing-xl);
        height: var(--spacing-xl);
    }
    :is(.kb-radio-group:where(.lg\:kb-r-size-sm) .kb-radio-group-item) .kb-radio-group-indicator{
        width: var(--spacing-sm);
        height: var(--spacing-sm);
    }
    .kb-radio-group:where(.lg\:kb-r-size-md) .kb-radio-group-item{
        width: var(--spacing-2xl);
        height: var(--spacing-2xl);
    }
}
@media (min-width: 1280px){
    .kb-radio-group:where(.xl\:kb-r-size-sm) .kb-radio-group-item{
        width: var(--spacing-xl);
        height: var(--spacing-xl);
    }
    :is(.kb-radio-group:where(.xl\:kb-r-size-sm) .kb-radio-group-item) .kb-radio-group-indicator{
        width: var(--spacing-sm);
        height: var(--spacing-sm);
    }
    .kb-radio-group:where(.xl\:kb-r-size-md) .kb-radio-group-item{
        width: var(--spacing-2xl);
        height: var(--spacing-2xl);
    }
}
@media (min-width: 1536px){
    .kb-radio-group:where(.\32xl\:kb-r-size-sm) .kb-radio-group-item{
        width: var(--spacing-xl);
        height: var(--spacing-xl);
    }
    :is(.kb-radio-group:where(.\32xl\:kb-r-size-sm) .kb-radio-group-item) .kb-radio-group-indicator{
        width: var(--spacing-sm);
        height: var(--spacing-sm);
    }
    .kb-radio-group:where(.\32xl\:kb-r-size-md) .kb-radio-group-item{
        width: var(--spacing-2xl);
        height: var(--spacing-2xl);
    }
}
.kb-radio-group-item:where([data-state="checked"]){
    border-radius: var(--radius-full);
    border: var(--width-px) solid var(--border-focus);
    background: var(--background-info-subtle);
}
.kb-radio-group-item:where([data-state="checked"]) .kb-radio-group-indicator{
    color: var(--content-info);
}
.kb-radio-group-item:where(:focus-visible){
    outline: var(--width-2xs) solid var(--border-focus);
    position: relative;
}
.kb-radio-group-item:where([data-disabled]){
    opacity: 0.5;
}
.kb-input-label{
    font-weight: var(--font-weight-regular);
    font-size: var(--font-body-sm);
    line-height: var(--line-height-sm);
    letter-spacing: var(--letter-spacing-none);
    font-family: var(--default-font-family-body);
    color: var(--content-secondary);
    font-weight: var(--font-weight-medium);
}
.kb-input-hint{
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
    color: var(--content-tertiary);
}
.kb-input-hint svg{
    width: var(--spacing-xl);
    height: var(--spacing-xl);
}
.kb-input-hint .kb-input-hint-text{
    color: var(--content-tertiary);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-body-sm);
    line-height: var(--line-height-sm);
    letter-spacing: var(--letter-spacing-none);
    font-family: var(--default-font-family-body);
}
.kb-input-hint:where(.kb-input-hint-error){
    color: var(--content-negative);
}
.kb-input-hint:where(.kb-input-hint-error) .kb-input-hint-text{
    color: var(--content-negative);
}
.kb-text-field-root{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--spacing-sm);
}
.kb-text-field-root:where([data-invalid="true"]) .kb-text-field-content{
    border-color: var(--border-negative);
}
.kb-text-field-content{
    --text-field-input-padding: var(--spacing-md);
    display: flex;
    align-items: stretch;
    border-radius: var(--radius-md);
    border: var(--width-px) solid var(--border-tertiary);
    background: var(--background-hover);
    box-shadow: 0px 2px 0px 0px var(--black-5) inset, 0px -2px 0px 0px var(--white-100) inset;
    transition: border-color 150ms ease-in-out;
}
@supports selector(:has(*)) {
    .kb-text-field-content:where(:has(.kb-text-field-input:focus)){
        border-color: var(--border-focus);
    }
}
@supports not selector(:has(*)) {
    .kb-text-field-content:where(:focus-within){
        border-color: var(--border-focus);
    }
}
.kb-text-field-input{
    color: var(--content-primary);
    padding: 0px var(--spacing-md);
    width: 100%;
    background: transparent;
    border: none;
    height: 36px;
    font-weight: var(--font-weight-regular);
    font-size: var(--font-body-md);
    line-height: var(--line-height-md);
    letter-spacing: var(--letter-spacing-none);
    font-family: var(--default-font-family-body);
    font-weight: var(--font-weight-medium);
}
.kb-text-field-input:where(:focus){
    outline: none;
}
.kb-text-field-input::-moz-placeholder{
    color: var(--content-tertiary-inverse);
    font-weight: var(--font-weight-regular);
}
.kb-text-field-input::placeholder{
    color: var(--content-tertiary-inverse);
    font-weight: var(--font-weight-regular);
}
.kb-text-field-slot{
    flex-shrink: 0;
    display: flex;
    align-items: center;
    color: var(--content-tertiary);
}
.kb-text-field-slot:where([data-side="left"]){
    order: -1;
    margin-right: 0;
    margin-left: var(--text-field-input-padding);
}
.kb-text-field-slot:where([data-side="right"]){
    order: 0;
    margin-left: 0;
    margin-right: var(--text-field-input-padding);
}
.kb-text-field-hint{
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
    color: var(--content-tertiary);
}
.kb-text-field-hint svg{
    width: var(--spacing-xl);
    height: var(--spacing-xl);
}
.kb-text-field-hint .kb-text-field-hint-text{
    color: var(--content-tertiary);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-body-sm);
    line-height: var(--line-height-sm);
    letter-spacing: var(--letter-spacing-none);
    font-family: var(--default-font-family-body);
}
.kb-text-field-hint:where(.kb-text-field-error){
    color: var(--content-negative);
}
.kb-text-field-hint:where(.kb-text-field-error) .kb-text-field-hint-text{
    color: var(--content-negative);
}
.kb-code-input-root{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}
.kb-code-input-root:where([data-invalid="true"]) .kb-code-input-slot{
    border-color: var(--border-negative);
}
.kb-code-input{
    display: flex;
    gap: var(--spacing-md);
}
.kb-code-input-slots-6 :nth-child(4){
    margin-left: var(--spacing-md);
}
.kb-code-input-slot{
    width: var(--spacing-5xl);
    height: 25px;
    border: 1px solid red;
    width: 50px;
    height: 52px;
    padding: 10px 0px;
    position: relative;
    box-sizing: border-box;
    color: var(--content-primary);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-body-lg);
    line-height: var(--line-height-lg);
    letter-spacing: var(--letter-spacing-small);
    font-family: var(--default-font-family-body);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--Radius-M, 8px);
    border: var(--width-px) solid var(--border-tertiary);
    background: var(--background-hover);
    box-shadow: 0px 2px 0px 0px var(--Color-Black-5, rgba(0, 0, 0, 0.05)) inset, 0px -2px 0px 0px var(--Color-White-100, #fff) inset;
    transition: border-color 150ms ease-in-out;
}
.kb-code-input-slot:where([data-active="true"]){
    border-color: var(--border-focus);
}
@keyframes caret-blink {
    0%,
  70%,
  100%{
        opacity: 1;
    }
    20%,
  50%{
        opacity: 0;
    }
}
.kb-code-input-caret{
    position: absolute;
    pointer-events: none;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.kb-code-input-caret  > div{
    width: var(--width-px);
    height: var(--spacing-3xl);
    background: var(--content-primary);
    animation: caret-blink 1s ease-out infinite;
}
.kb-code-input-hint{
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
    color: var(--content-tertiary);
}
.kb-code-input-hint svg{
    width: var(--spacing-xl);
    height: var(--spacing-xl);
}
.kb-code-input-hint .kb-text-field-hint-text{
    color: var(--content-tertiary);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-body-sm);
    line-height: var(--line-height-sm);
    letter-spacing: var(--letter-spacing-none);
    font-family: var(--default-font-family-body);
}
.kb-code-input-hint:where(.kb-code-input-error){
    color: var(--content-negative);
}
.kb-code-input-hint:where(.kb-code-input-error) .kb-code-input-hint-text{
    color: var(--content-negative);
}