.box {
    display: flex;
    flex-direction: column;
}

.box > h5 {
    color: var(--brown-500);
    font-size: 0.6875rem;
    font-weight: 700;
    letter-spacing: 0.075em;
    line-height: 1.5rem;
    margin-bottom: 0.25rem;
    text-transform: uppercase;
    font-family: var(--default-font-family);
}

.box > div {
    border-radius: 0.625rem;
    padding: 1rem;
    border: 1px solid #bdac9f;
    font-family: var(--default-font-family);
}
