@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Manrope:wght@200..800&display=swap");

@font-face {
  font-family: "RocaTwo";
  src: url("../static/fonts/roca-two-rg.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.box {
  display: flex;
  flex-direction: column;
}

.box > h5 {
  color: var(--brown-500);
  font-size: 0.6875rem;
  font-weight: 700;
  letter-spacing: 0.075em;
  line-height: 1.5rem;
  margin-bottom: 0.25rem;
  text-transform: uppercase;
  font-family: var(--default-font-family);
}

.box > div {
  border-radius: 0.625rem;
  padding: 1rem;
  border: 1px solid #bdac9f;
  font-family: var(--default-font-family);
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.gap-6 {
  gap: 6px;
}

.gap-12 {
  gap: 12px;
}

.max-w-md {
  max-width: 320px;
}

.grid {
  display: grid;
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.text-field-custom-hint {
  svg {
    display: none;
  }

  .kb-input-hint-text {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
}
