:root {
    --blue-0: #f7faff;
    --blue-100: #e2f3fd;
    --blue-200: #cbe5fe;
    --blue-300: #89b4fa;
    --blue-400: #629bfb;
    --blue-500: #3b82f6;
    --blue-600: #295ee0;
    --blue-700: #1d4cbe;
    --blue-800: #182f73;
    --blue-900: #0c1a31;
    --brown-0: #faf8f7;
    --brown-100: #ded5cf;
    --brown-200: #bdac9f;
    --brown-300: #9d826e;
    --brown-400: #7c593e;
    --brown-500: #5b2f0e;
    --brown-600: #49260b;
    --brown-700: #371c08;
    --brown-800: #241306;
    --brown-900: #120903;
    --gray-0: #ffffff;
    --gray-10: #faf7f5;
    --gray-20: #f6f3f1;
    --gray-30: #ece9e7;
    --gray-40: #e0dcd9;
    --gray-50: #c4c0bc;
    --gray-60: #b6b2af;
    --gray-70: #aaa6a3;
    --gray-80: #9c9896;
    --gray-90: #8e8985;
    --gray-100: #807c78;
    --gray-200: #716d6a;
    --gray-300: #63605d;
    --gray-400: #575452;
    --gray-500: #494745;
    --gray-600: #3d3b39;
    --gray-700: #2d2b2a;
    --gray-800: #1f1e1d;
    --gray-900: #131111;
    --green-0: #f9fcf9;
    --green-100: #e1f2df;
    --green-200: #c3e6bf;
    --green-300: #a5d99e;
    --green-400: #87cd7e;
    --green-500: #69c05e;
    --green-600: #549a4b;
    --green-700: #3f7338;
    --green-800: #2a4d26;
    --green-900: #152613;
    --orange-0: #fffaf5;
    --orange-100: #fee8cc;
    --orange-200: #ffd889;
    --orange-300: #fec667;
    --orange-400: #ffb02f;
    --orange-500: #fa8a00;
    --orange-600: #d76101;
    --orange-700: #b04a00;
    --orange-800: #7b3400;
    --orange-900: #5a2400;
    --pink-100: #fce7fb;
    --pink-200: #f9d0f7;
    --pink-300: #f5b8f3;
    --pink-400: #f2a1ef;
    --pink-500: #ef89eb;
    --pink-600: #bf6ebc;
    --pink-700: #8f528d;
    --pink-800: #60375e;
    --pink-900: #301b2f;
    --purple-100: #eeddfd;
    --purple-200: #dcbbfc;
    --purple-300: #cb99fa;
    --purple-400: #b977f9;
    --purple-500: #a855f7;
    --purple-600: #8644c6;
    --purple-700: #653394;
    --purple-800: #432263;
    --purple-900: #221131;
    --red-0: #fef8f8;
    --red-100: #fcdada;
    --red-200: #f9b4b4;
    --red-300: #f58f8f;
    --red-400: #f26969;
    --red-500: #ef4444;
    --red-600: #bf3636;
    --red-700: #8f2929;
    --red-800: #601b1b;
    --red-900: #300e0e;
    --tangelo-100: #fbe3d5;
    --tangelo-200: #f8c7ac;
    --tangelo-300: #f4a882;
    --tangelo-400: #f18f59;
    --tangelo-500: #ed732f;
    --tangelo-600: #be5c26;
    --tangelo-700: #8e451c;
    --tangelo-800: #5f2e13;
    --tangelo-900: #2f1709;
    --yellow-100: #fff5cc;
    --yellow-200: #ffec99;
    --yellow-300: #ffe266;
    --yellow-400: #ffde31;
    --yellow-500: #ffcf00;
    --yellow-600: #e7a200;
    --yellow-700: #9c6200;
    --yellow-800: #703e01;
    --yellow-900: #542a00;
    --white-100: #ffffff;
    --white-50: rgba(255, 255, 255, 0.5);
    --white-20: rgba(255, 255, 255, 0.2);
    --white-10: rgba(255, 255, 255, 0.1);
    --white-5: rgba(255, 255, 255, 0.05);
    --black-100: #000000;
    --black-50: rgba(0, 0, 0, 0.5);
    --black-20: rgba(0, 0, 0, 0.2);
    --black-10: rgba(0, 0, 0, 0.1);
    --black-5: rgba(0, 0, 0, 0.05);
    --width-px: 1px;
    --width-2xs: 2px;
    --scaling-xlarge: 1.1;
    --scaling-large: 1.05;
    --scaling-medium: 1;
    --scaling-small: 0.95;
    --scaling-xsmall: 0.9;
    --scaling: var(--scaling-medium);
    --background-primary: var(--white-100);
    --background-hover: var(--gray-20);
    --background-pressed: var(--gray-10);
    --background-selected: var(--blue-100);
    --background-disabled: var(--gray-20);
    --background-inverse: var(--gray-800);
    --background-brand: var(--brown-500);
    --background-brand-hover: var(--brown-600);
    --background-brand-pressed: var(--brown-700);
    --background-brand-disabled: var(--gray-20);
    --background-secondary: var(--gray-10);
    --background-secondary-hover: var(--gray-20);
    --background-secondary-pressed: var(--gray-30);
    --background-info: var(--blue-500);
    --background-info-subtle: var(--blue-0);
    --background-positive: var(--green-500);
    --background-positive-subtle: var(--green-0);
    --background-negative: var(--red-200);
    --background-negative-hover: var(--red-600);
    --background-negative-pressed: var(--red-700);
    --background-negative-subtle: var(--red-0);
    --background-notice: var(--orange-500);
    --background-notice-subtle: var(--orange-0);
    --background-hover: var(--gray-20);
    --border-primary: var(--gray-100);
    --border-secondary: var(--gray-60);
    --border-tertiary: var(--gray-40);
    --border-disabled: var(--gray-40);
    --border-focus: var(--blue-500);
    --border-brand: var(--brown-600);
    --border-inverse: var(--gray-0);
    --border-info: var(--blue-500);
    --border-notice: var(--orange-500);
    --border-negative: var(--red-200);
    --border-positive: var(--green-500);
    --border-highlight: var(--purple-500);
    --overlay-primary: var(--gray-900);
    --overlay-secondary: rgba(17, 17, 17, 0.2);
    --content-primary: var(--gray-900);
    --content-secondary: var(--gray-600);
    --content-tertiary: var(--gray-200);
    --content-tertiary-inverse: var(--gray-60);
    --content-primary-inverse: var(--gray-0);
    --content-secondary-inverse: var(--gray-10);
    --content-tertiary-inverse: var(--gray-50);
    --content-brand: var(--brown-500);
    --content-link: var(--blue-500);
    --content-link-hover: var(--blue-600);
    --content-link-pressed: var(--blue-700);
    --content-notice: var(--orange-500);
    --content-notice-bold: var(--orange-700);
    --content-negative: var(--red-500);
    --content-negative-bold: var(--red-700);
    --content-positive: var(--green-500);
    --content-positive-bold: var(--green-700);
    --content-highlight: var(--purple-500);
    --content-highlight-bold: var(--purple-700);
    --content-disabled: var(--gray-60);
    --content-info: var(--blue-500);
    --content-info-bold: var(--blue-600);
    --spacing-2xs: 2px;
    --spacing-xs: 4px;
    --spacing-sm: 6px;
    --spacing-md: 8px;
    --spacing-lg: 12px;
    --spacing-xl: 16px;
    --spacing-2xl: 20px;
    --spacing-3xl: 24px;
    --spacing-4xl: 32px;
    --spacing-5xl: 40px;
    --spacing-6xl: 56px;
    --spacing-7xl: 64px;
    --spacing-8xl: 72px;
    --spacing-9xl: 80px;
    --spacing-10xl: 88px;
    --spacing-11xl: 96px;
    --spacing-12xl: 104px;
    --spacing-13xl: 112px;
    --spacing-14xl: 120px;
    --spacing-15xl: 128px;
    --font-display-xl: calc(64px * var(--scaling));
    --font-display-lg: calc(56px * var(--scaling));
    --font-display-md: calc(48px * var(--scaling));
    --font-display-sm: calc(40px * var(--scaling));
    --font-display-xs: calc(32px * var(--scaling));
    --font-body-2xl: calc(24px * var(--scaling));
    --font-body-xl: calc(20px * var(--scaling));
    --font-body-lg: calc(16px * var(--scaling));
    --font-body-md: calc(14px * var(--scaling));
    --font-body-sm: calc(12px * var(--scaling));
    --font-body-xs: calc(10px * var(--scaling));
    --default-font-family: "Manrope", -apple-system, BlinkMacSystemFont, "Segoe UI (Custom)", Roboto, "Helvetica Neue", "Open Sans (Custom)", system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    --default-font-family-display: "RocaTwo", "Manrope", -apple-system, BlinkMacSystemFont, "Segoe UI (Custom)", Roboto, "Helvetica Neue", "Open Sans (Custom)", system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    --default-font-family-body: var(--default-font-family);
    --default-font-family-heading: var(--default-font-family);
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --line-height-9xl: 80px;
    --line-height-8xl: 72px;
    --line-height-7xl: 64px;
    --line-height-6xl: 56px;
    --line-height-5xl: 48px;
    --line-height-4xl: 44px;
    --line-height-3xl: 40px;
    --line-height-2xl: 32px;
    --line-height-xl: 28px;
    --line-height-lg: 24px;
    --line-height-md: 20px;
    --line-height-sm: 16px;
    --line-height-xs: 14px;
    --letter-spacing-none: 0px;
    --letter-spacing-small: -0.2px;
    --letter-spacing-xsmall: -0.5px;
    --radius-xs: 2px;
    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-lg: 12px;
    --radius-xl: 16px;
    --radius-2xl: 20px;
    --radius-3xl: 24px;
    --radius-4xl: 32px;
    --radius-full: 9999px;
}
:root --apply-kb-text-display-xl {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-display-xl);
    line-height: var(--line-height-8xl);
    letter-spacing: var(--letter-spacing-none);
    font-family: var(--default-font-family-display);
    color: var(--content-brand);
}
:root --apply-kb-text-display-lg {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-display-lg);
    line-height: var(--line-height-7xl);
    letter-spacing: var(--letter-spacing-none);
    font-family: var(--default-font-family-display);
    color: var(--content-brand);
}
:root --apply-kb-text-display-md {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-display-md);
    line-height: var(--line-height-6xl);
    letter-spacing: var(--letter-spacing-none);
    font-family: var(--default-font-family-display);
    color: var(--content-brand);
}
:root --apply-kb-text-display-sm {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-display-sm);
    line-height: var(--line-height-5xl);
    letter-spacing: var(--letter-spacing-none);
    font-family: var(--default-font-family-display);
    color: var(--content-brand);
}
:root --apply-kb-text-display-xs {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-display-xs);
    line-height: var(--line-height-3xl);
    letter-spacing: var(--letter-spacing-none);
    font-family: var(--default-font-family-display);
    color: var(--content-brand);
}
:root --apply-kb-text-heading-xl {
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-display-sm);
    line-height: var(--line-height-2xl);
    letter-spacing: var(--letter-spacing-xsmall);
    font-family: var(--default-font-family-heading);
}
:root --apply-kb-text-heading-lg {
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-display-xs);
    line-height: var(--line-height-3xl);
    letter-spacing: var(--letter-spacing-xsmall);
    font-family: var(--default-font-family-heading);
}
:root --apply-kb-text-heading-md {
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-body-2xl);
    line-height: var(--line-height-2xl);
    letter-spacing: var(--letter-spacing-small);
    font-family: var(--default-font-family-heading);
}
:root --apply-kb-text-heading-sm {
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-body-xl);
    line-height: var(--line-height-xl);
    letter-spacing: var(--letter-spacing-small);
    font-family: var(--default-font-family-heading);
}
:root --apply-kb-text-heading-xs {
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-body-lg);
    line-height: var(--line-height-lg);
    letter-spacing: var(--letter-spacing-small);
    font-family: var(--default-font-family-heading);
}
:root --apply-kb-text-body-xl {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-body-xl);
    line-height: var(--line-height-xl);
    letter-spacing: var(--letter-spacing-small);
    font-family: var(--default-font-family-body);
}
:root --apply-kb-text-body-lg {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-body-lg);
    line-height: var(--line-height-lg);
    letter-spacing: var(--letter-spacing-small);
    font-family: var(--default-font-family-body);
}
:root --apply-kb-text-body-md {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-body-md);
    line-height: var(--line-height-md);
    letter-spacing: var(--letter-spacing-none);
    font-family: var(--default-font-family-body);
}
:root --apply-kb-text-body-sm {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-body-sm);
    line-height: var(--line-height-sm);
    letter-spacing: var(--letter-spacing-none);
    font-family: var(--default-font-family-body);
}
:root --apply-kb-text-body-xs {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-body-xs);
    line-height: var(--line-height-xs);
    letter-spacing: var(--letter-spacing-none);
    font-family: var(--default-font-family-body);
}
