.kb-dialog-overlay {
  position: fixed;
  inset: 0;
  background: var(--overlay-secondary);
  z-index: 50;
  animation: kb-dialog-overlay-fade-in 0.15s ease;
}

@keyframes kb-dialog-overlay-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.kb-dialog-content {
  width: 100%;
  max-width: 560px;
  background: var(--background-primary);
  border-radius: var(--radius-3xl);
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 50;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  border-width: var(--width-px);
  border-color: var(--border-tertiary);
  border-style: solid;

  /* TODO: Make this box shadow semantic */
  box-shadow: 0px 16px 24px -8px var(--black-10);
  animation: kb-dialog-zoom-in 0.15s ease;
}

@keyframes kb-dialog-zoom-in {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

.kb-dialog-footer {
  border-top-width: var(--width-px);
  border-top-color: var(--border-tertiary);
  border-top-style: solid;
  padding: var(--sp-2xl);
}

.kb-dialog-header {
  padding: var(--sp-2xl);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--sp-xs);

  border-bottom-width: var(--width-px);
  border-bottom-color: var(--border-tertiary);
  border-bottom-style: solid;

  .kb-dialog-close {
    position: absolute;
    right: var(--sp-xl);
    top: var(--sp-xl);
    color: var(--content-disabled);
    cursor: pointer;

    @media (hover: hover) {
      &:where(:hover) {
        color: var(--content-tertiary);
      }
    }

    svg {
      width: var(--sp-2xl);
      height: var(--sp-2xl);
    }
  }
}

.kb-dialog-description {
  color: var(--content-secondary);
}
