.kb-dashboard-layout-root {
  width: 100vw;
  height: 100vh;
  background-color: var(--background-secondary);
  padding-right: var(--spacing-md);
  padding-bottom: var(--spacing-md);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  box-sizing: border-box;
}

.kb-dashboard-layout-content-shell {
  flex: 1;
  width: 100%;
  border: var(--width-px) solid var(--border-tertiary);
  border-radius: var(--radius-md);
}

.kb-dashboard-layout-sidebar {
  width: 100%;
  height: 64px;
  padding: var(--spacing-md);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.kb-dashboard-layout-sidebar-footer {
  margin-top: auto;
}

@md {
  .kb-dashboard-layout-root {
    flex-direction: row;
    padding-top: var(--spacing-md);
  }

  .kb-dashboard-layout-content-shell {
    height: 100%;
    width: auto;
  }

  .kb-dashboard-layout-sidebar {
    width: 260px;
    height: auto;
  }
}
