@import "react-cmdk/dist/cmdk.css";

.kb-command-search {
  width: 100%;
  cursor: pointer;

  .kb-text-field-input,
  .kb-side-right,
  .kb-side-left {
    cursor: pointer;
  }

  .kb-text-field-slot.kb-side-right {
    display: flex;
    align-items: center;
    gap: 2px;

    span {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      border-radius: var(--radius-md);

      font-family: var(--default-font-family-body);
      font-size: var(--font-body-md);
      font-weight: var(--font-weight-medium);

      border: 1px solid var(--border-tertiary);

      color: var(--content-tertiary);
    }
  }
}

.kb-command-search-dialog-overlay {
  position: fixed;
  inset: 0;
  background: rgba(17, 17, 17, 0.2);
  z-index: 49;
}

.kb-command-search-dialog {
  width: 100%;
  max-width: 720px;
  height: 100vh;
  background: var(--background-primary);

  position: fixed;
  left: 50%;
  bottom: 0;
  z-index: 50;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  border-width: var(--width-px);
  border-color: var(--border-tertiary);
  border-style: solid;
  box-shadow: 0px 16px 24px -8px var(--black-10);
}

@md {
  .kb-command-search-dialog {
    height: 396px;
    max-height: 396px;
    border-radius: var(--radius-xl);
    top: 50%;
    bottom: auto;
    transform: translate(-50%, -50%);
  }
}

.kb-command-search-dialog-input-wrapper {
  height: 60px;
  padding: var(--spacing-2xl) var(--spacing-xl);
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
  background: var(--background-secondary);
  border-bottom: 0.75px solid rgba(0, 0, 0, 0.05);
  border-radius: var(--radius-xl) var(--radius-xl) 0 0;
  box-sizing: border-box;

  svg {
    flex-shrink: 0;

    path {
      fill: var(--content-tertiary-inverse);
    }
  }
}

.kb-command-search-dialog-input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  @apply --kb-text-body-md;
  color: var(--content-primary);

  &::placeholder {
    color: var(--content-tertiary-inverse);
  }
}

.kb-command-search-dialog-content {
  padding: var(--spacing-md);
  flex: 1;
  overflow-y: auto;
}

.kb-command-search-dialog-list {
  /* overflow-y: auto;
  overflow-x: hidden;
  max-height: 400px; */
}

.kb-command-search-dialog-footer {
  height: 60px;
  padding: var(--spacing-2xl) var(--spacing-xl);
  border-top: var(--width-px) solid var(--border-tertiary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.kb-command-search-dialog-footer-left,
.kb-command-search-dialog-footer-right {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);

  span {
    @apply --kb-text-body-md;
    color: var(--content-tertiary);
  }
}

.kb-command-search-dialog-group {
  &:not(:first-child) {
    margin-top: var(--spacing-lg);
  }

  [cmdk-group-heading] {
    height: 20px;
    display: flex;
    align-items: center;
    margin-bottom: var(--spacing-md);
    padding-left: var(--spacing-lg);
    padding-right: var(--spacing-lg);
    @apply --kb-text-body-md;
    color: var(--content-tertiary);
  }

  [cmdk-group-items] {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--spacing-md);
  }
}

.kb-command-search-dialog-item {
  height: 44px;
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
  padding-left: var(--spacing-lg);
  padding-right: var(--spacing-lg);
  border-radius: var(--radius-md);
  cursor: pointer;
  transition: background 0.15s ease;
  @apply --kb-text-body-md;
  color: var(--content-secondary);

  svg {
    width: 20px;
    height: 20px;
    flex-shrink: 0;

    path {
      stroke: var(--content-tertiary);
    }
  }

  &[aria-selected="true"] {
    background: var(--background-secondary);
  }

  @media (hover: hover) {
    &:where(:hover) {
      background: var(--background-secondary);
    }
  }
}

.kb-command-search-dialog-separator {
  height: var(--width-px);
  background: var(--border-tertiary);
  margin: var(--spacing-sm) 0;
}

.kb-command-search-dialog-empty {
  height: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  svg {
    margin-left: calc(var(--spacing-3xl) + var(--spacing-xs));
  }

  gap: var(--spacing-md);
  color: var(--content-secondary);

  font-family: var(--default-font-family-body);
}
