@import './tokens/themes/light.css';
@import './tokens/themes/dark.css';

:root {
  color-scheme: light dark;
}

:root:not([data-theme]) {
  @import './tokens/themes/light.css';
}

[data-theme] * {
  forced-color-adjust: none;
}
